/* - - - - - Colours - - - - - - /*
/*
Primary Green: #87BBA2;
Background Yellow: #FFF07C;
Teriary Pearl: #F0F7EE;
Grey: #5D737E;
Black: #000000;
*/




/* - - - Nav - - - */

.navbar { 
  background-color: #F0F7EE;
}

.navbar-dark {
  text-align: center;
  color: #5D737E;
}

.navbar-brand {
  text-align: center;
  color: #5D737E;
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}
