/* - - - - - Colours - - - - - - /*
/*
Primary Green: #87BBA2;
Background Yellow: #FFF07C;
Teriary Pearl: #F0F7EE;
Grey: #5D737E;
Black: #000000;
*/

/* - - - ALL - - - */

font-family: 'Press Start 2P', cursive;
font-family: 'Roboto Slab', serif;

body {
    font-family: 'Press Start 2p', serif;
}

/* - - - Nav - - - */

.navbar {
  background-color: #f0f7ee;
  text-align: center;
  display: inline-block;
  float: none;
  vertical-align: top;
  padding: 0.5rem;
}

.nav-seperator hr {
    color: #5D737E;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.navbar-toggler {
    color: #5D737E;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
}

#back-arrow {
    max-block-size: 1rem;
}

/* - - - Sections - - - */

header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

/* - - - Footer - - - */

.footer-seperator {
    color: #5D737E;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer-style {
    margin: auto;
    padding: 0.5rem;
    background-color: #f0f7ee;
    color: #5D737E;
}

.footer-style h6 {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.footer-img {
    max-width: 100%;
    display: inline-block;
    position: relative;
    width: 15%;
    height: 15%;
    overflow: hidden;
    border-radius: 50%;
}