/* ALL */

#primary-green {
    color: #87BBA2;
}

#background-yellow {
    color: #FFF07C;
}

#teriary-pearl {
    color: #F0F7EE;
}

#grey {
    color: #5D737E;
}

#black {
    color: #000000;
}

body {
    font-family: 'Press Start 2p', serif;
    scroll-behavior: smooth;
}

.bg-yellow {
    background-color: #FFF07C;
}

.title {
    font-family: 'Press Start 2p', serif;
    text-decoration: underline;
}

.subtitle {
    font-family: 'Press Start 2p', serif;
    font-size: 10px;
    padding: 0;
}

.add-font {
    font-family: 'Press Start 2p', serif;
}

.small-text {
    font-size: x-small;
}

.medium-text {
    font-size: 13px;
}

.other-font {
    font-family: 'Source Code Pro', monospace;
}

.underline {
    text-decoration: underline;
}

/* Nav */

.navbar {
    background-color: #f0f7ee;
    text-align: center;
    display: inline-block;
    float: none;
    vertical-align: top;
    padding: 0.5rem;
}

.nav-seperator hr {
    color: #5D737E;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.navbar-toggler {
    color: #5D737E;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
}

#back-arrow {
    max-width: 1rem;
}

/* HEADER HIDE */

#home-section {
    display: block;
}

#lyric-section {
    display: none;
    /* transition: opacity 1s ease-out; */
}

#chords-and-melody-section {
    display: none;
}

#writing-section {
    display: none;
}

/* Home Sections */

.container-fluid {
    padding-bottom: 30px;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
    background-color: #F0F7EE !important;
    border-radius: 9% !important;
    margin: 2em;
}

header {
    padding: 90px 0 0px;
}

header h6 {
    font-family: 'Press Start 2P', cursive;
}

.big-section-btn {
    background-color: #87BBA2;
    border: 1px solid #5D737E;
    color: #5D737E;
    font-size: 100%;
    border-radius: 9%
}

.big-main-btns {
    place-content: center;
    font-family: 'Press Start 2P', cursive;
}

img {
    max-height: 25em;
    overflow: hidden;
    max-width: 25em;
    float: right;
}

.search-type {
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
    /* text-align: justify; */
}

.btn-secondary {
    background-color: transparent;
    color: inherit;
}

#services h4 {
    padding-top: 25px;
    padding-bottom: 25px;
}

#services p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
}

.about-bg {
    background-color: #87BBA2;
}

section h6 {
    padding-top: 2em;
    padding-bottom: 1em;
}

.about-image {
    /* 767 pixels; */
    /* width: 90px;
    height: 90px; */
    margin: auto;    
    display: block;
    content: url(/assets/imgs/writing-tools-img.jpg);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
    height: auto; 
}

/* Generation page nav */

.top-page-header {
    color: #5D737E;
    font-size: 100%;

    place-content: center;
    font-family: 'Press Start 2P', cursive;
}

.top-page-header div h6 {
    padding: 1em;
    margin: 0px;
}

.header-text {
    padding: 0px;
    padding-top: 02vh;
}

.btn-sq-md {
    background-color: #F0F7EE !important;
    font-family: 'Press Start 2P', cursive;
}

.chord-output-text {
    font-family: 'Source Code Pro', monospace;
}

#chord-results-box {
    font-family: 'Source Code Pro', monospace;
    border: 1px dotted grey;
}

.sounds-like-piano {
    background-color: #87BBA2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.sounds-like-guitar {
    background-color: #87BBA2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.gtr-hide {
    display: none;
}

.piano-hide {
    display: none;
}

.chord-sound-gtr {
    display: none;
}

.chord-sound-piano {
    display: none;
}

/* Search buttons */

.btn-sq-sm {
    width: 150px !important;
    height: 75px !important;
    background-color: #F0F7EE !important;
    border-radius: 9% !important;
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}

.btn-sq-sm i {
    font-size: 30px;
}

.results-box {
    background-color: ivory;
    background-size: inherit;
    border: lightslategray;
}

/* Lyric Search Section */

#lyric-search-results-form {
    margin: auto;
    font-family: 'press start 2p', cursive;
    font-size: 11px;
}

#something-went-wrong-box-hide {
    display: none;
}

#results-below-box-show {
    display: none;
}

#lyric-search-form {
    margin: auto;
}

#search-results-section {
    display: none;
}

#search-loading {
    display: none;
    content: url(/assets/imgs/loader-pac-man.gif);
}

/* Footer */

.footer-row {    
    display: flex;
    flex-wrap: wrap;
}

.footer-seperator {
    color: #5D737E;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer-style {
    margin: auto;
    padding: 0.5rem;
    background-color: #f0f7ee;
    color: #5D737E;
}

.footer-style h6 {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.footer-img {
    max-width: 100%;
    display: inline-block;
    position: relative;
    width: 15%;
    height: 15%;
    overflow: hidden;
    border-radius: 50%;
}