@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap');

body {
    font-family: "Press Start 2P";
    font-size: 0.9rem;
    background-color: #e6d69c;
    max-width: 800px;
}

#chord-section {
    display: none;
}

#lyric-section {
    display: none;
}

.min-height-section {
    min-height: 85vh;
}

.btn {
    background-color: #b4a56a;
    color: #393829;
}

.btn:hover {
    background-color: #7b7162;
}

.btn::selection {
    background-color: #393829;
}

.about-image {
    content: url(../imgs/guitar-pad.jpg);
    max-width: 80%;
}

.chord-gen-font {
    font-size: 0.8rem;
    padding: 5px;
}

.chord-gen-number {
    font-size: 0.5rem;
}

#lyric-search-loading {
    content: url(../imgs/loader-pac-man.gif);
}

.lyric-results-text {
    font-size: 0.4rem;
}

.results-box {
    outline-style: inset;
    background-color: #c2c5cc;
}

.footer-small {
    font-size: 0.4rem;
}

.font-2 {
    font-family: 'Source Code Pro';
}